@import "../../app.component.css";

.aligncenter {
    align-items: center;
}

.centerContent {
    /* border: 5px solid; */
    margin: auto;
    width: 90%;
    /* padding: 10px; */
}

.center-current-content {
    margin: auto;
    padding: 10px;
}

.register-portion-vertically-middle {
    padding-top: 20%;
    padding-bottom: 20%;
}

.mat-control-look1 {
    min-height: 50px;
}

::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.responsive_table{
    overflow-y: auto;
    padding-bottom: 50px;;
}

::ng-deep.mat-mdc-paginator-container .mat-mdc-paginator-page-size{
    align-items: center;
}

::ng-deep.mat-mdc-paginator .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
    padding-top: 8px !important;
}

@media only screen and (max-width: 574px) {
    ::ng-deep.mat-mdc-paginator-range-label{margin: 0 !important;}
}