<!-- <mat-dialog-content>
    {{message}}
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
</mat-dialog-actions> -->

<mat-dialog-content>
	<p>
		{{message}}
	</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close class="pt-1 btn-shop-modal">Close</button>
      </div>
</mat-dialog-actions>


<!-- <div class="container">
    <div class="row">
        <div>
            <div mat-dialog-content>{{message}}</div>
            <div mat-dialog-actions>
              <button mat-button mat-dialog-close>Close</button>
            </div>
        </div>
    </div>
</div> -->
